<h1 style="color: darkcyan;">{{title2}}</h1>
<hr>
<p>Bienvenidos a Angular</p>


<button class="btn btn-success" (click)="incrementar_Disminuir(+1)">+1</button>
<input type="text" style="width: 10%;text-align: center;border: none; " value="{{counter}}" readonly="true" />
<button class="btn btn-danger" (click)="incrementar_Disminuir(-1)">-1</button>

<br />
<button style="width:17%;" class="btn btn-dark mt-2" (click)="resetCounter()">RESET</button>


<br />
<hr>
<app-counter></app-counter>


<br />
<hr>
<app-heroes-hero></app-heroes-hero>
<br />
<hr>
<app-heroes-list></app-heroes-list>
